@page "/GanhoMaximo"

<PageTitle>GanhoMaximo</PageTitle>
<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-8 py-0  d-flex flex-column justify-center">
    <MudStack AlignItems="AlignItems.Center" Spacing="0">

    <div class="d-flex align-center justify-center">
            <MudText Typo="Typo.h4" Style="font-weight:bold;color:coral;font-family:Cambria" Align="Align.Center" Inline="true">Ganho</MudText>
            <MudText Typo="Typo.h4" Style="font-weight:bold;font-family:Cambria" Align="Align.Center" Inline="true">Máximo</MudText>
    </div>

    <MudDivider Style="--mud-palette-divider:coral; width:455px"></MudDivider>

    <MudCard Elevation="12" Style="width:455px;height:52px"Class="rounded-sm" >
            <MudText Align="Align.Center" Style="font-family:Calibri">
        Aqui você aprendera um pouco do mundo da alimentação e<br /> como isso poderá ajudar nos treinos!
    </MudText>
    </MudCard>
    <div class="mt-2 d-flex gap-1">
    <MudButton Style="background-color:darkred;font-weight:bold;font-family:Cambria">Proteinas</MudButton>
    <MudButton Style="background-color:sandybrown;font-weight:bold;font-family:Cambria">Carboidratos</MudButton>
    <MudButton Style="background-color:darkcyan;font-weight:bold;font-family:Cambria">Frutas</MudButton>
    <MudButton Style="background-color:seagreen;font-weight:bold;font-family:Cambria">Verduras</MudButton>
    <MudButton Style="background-color:saddlebrown; font-weight:bold;font-family:Cambria">Gorduras</MudButton>
    </div>
    </MudStack>
    
</MudContainer>