@page "/"
<PageTitle>Home</PageTitle>
<MudContainer Class="mt-8">
    <MudGrid Justify="Justify.Center" Spacing="16">
        <MudItem>
            <MudCard Class="rounded-xl" Style="width:250px; height: 70px; overflow: hidden">
                <MudCardContent Class="pa-0 d-flex flex-row" Style="height: 100%">
            
                    <!-- Lado Esquerdo: Fundo Coral com Ícone -->
                    <div class="d-flex align-center justify-center rounded-xl"
                         Style="background-color:coral; width:37%; height: 100%">
                        <MudIcon Icon="@Icons.Material.Sharp.Group" Style="font-size: 4rem" />
                    </div>
                    <!-- Lado Direito: Texto -->
                    <div class="d-flex align-center ps-5"
                         Style="width:60%; height: 100%">
                        <MudText Typo="Typo.body1"
                                 Style="font-weight:600;">
                            Uma Equipe Qualificada!
                        </MudText>
                    </div>

                </MudCardContent>
            </MudCard>
        </MudItem>
    <MudItem>
    <MudCard Class="rounded-xl" Style="width:250px;height: 70px; overflow:hidden">
        <MudCardContent  Class="pa-0 d-flex flex-row" Style="height:100%">
            <div class="d-flex align-center justify-center rounded-xl" style="background-color:coral; width:37%; height:100%">
            <MudIcon Icon="@Icons.Material.Sharp.CalendarMonth" Style="font-size:4rem"/>
            </div>
            <div class="d-flex align-center ps-5" style="width:60%; height:100%">
                <MudText Class="mt-1 me-5" Align="Align.Center" Typo="Typo.body1" Style="font-weight:600">
                   Treinos Que Cabem Na Rotina!
                </MudText>
            </div>
        </MudCardContent>
    </MudCard>
    </MudItem>
        <MudItem>
        <MudCard Class="rounded-xl" Style="width:250px;height: 70px; overflow:hidden">
        <MudCardContent Class="pa-0 d-flex flex-row" Style="height:100%">
                    <div class="d-flex align-center justify-center rounded-xl" style="background-color:coral; width:37%; height:100%">
        <MudIcon Icon="@Icons.Material.Rounded.RestaurantMenu" Style="font-size:4rem"/>
        </div>
        <div class="d-flex align-center ps-5" style="width:60%; height:100%">
            <MudText Typo="Typo.body1" Style="font-weight:600">
                Guias de Alimentação!
            </MudText>
        </div>
        </MudCardContent>
    </MudCard>
        </MudItem>
    </MudGrid>
</MudContainer>

<MudContainer MaxWidth="MaxWidth.ExtraLarge" Class="mt-8 py-10  d-flex flex-column" >
    <MudGrid Justify="Justify.Center">
        
        
        <MudItem xs="12">
         @* <MudText Typo="Typo.h2" Color="Color.Primary" Class="font-weight-bold">Seu Título de Impacto</MudText> *@ 
            <div class="d-flex align-center justify-center ">
            <MudText Style="color:coral; font-weight:bold" Inline="true" Typo="Typo.h5" Class="mt-4 ">Treinos</MudText>
            <MudText Style="color:white; font-weight:bold" Inline="true"Typo="Typo.h5" Class="mt-4">Exclusivos.</MudText>
            </div>
        </MudItem>
    </MudGrid>
        <div class="d-flex flex-wrap gap-5 justify-center mt-0">
             <style>
                .scale-hover:hover{
                    transform: scale(1.05);
                    transition: transform 0.3s ease-in-out
                }
            </style> 


        <MudCard Elevation="12" Style="width: 280px;" Class="rounded-xl transition-fast-out-slow-in scale-hover">
            <MudCardMedia Image="img/H.Lower.png" Height="150" />
            <MudCardContent>
                <MudButton Class="transition-fast-out-slow-in scale-hover" Style="background-color:coral; width: 100%;font-weight: 800">UPPER/LOWER</MudButton>
            <MudText Class="mt-1" Align="Align.Center" Typo="Typo.body2">Um treino dividido em membros superiores e inferiores consiste em separar os treinos das partes superior e inferior do corpo.</MudText>
            </MudCardContent>
        </MudCard>
        
        <MudCard Elevation="11" Style="width: 280px;" Class="rounded-xl trasition-fast-out-slow-in scale-hover">
            <MudCardMedia Image="img/H.Full.png" Height="150" />
            <MudCardContent>
                    <MudButton Class="transition-fast-out-slow-in scale-hover" Style="background-color:coral; width: 100%;font-weight: 800">FULLBODY</MudButton>
                    <MudText Class="mt-1" Align="Align.Center" Typo="Typo.body2">Treino focado para trabalhar os principais grupamentos musculares, em uma unica sessão.</MudText>
            </MudCardContent>
        </MudCard>
         
        <MudCard Elevation="11" Style="width: 280px;" Class="rounded-xl trasition-fast-out-slow-in scale-hover">
                <MudCardMedia Image="img/H.PPL.png" Height="150" />
                <MudCardContent>
                <MudButton Class="transition-fast-out-slow-in scale-hover" Style="background-color:coral; width: 100%;font-weight: 800">PUSH/PULL/LEGS</MudButton>
                <MudText Class="mt-1" Align="Align.Center" Typo="Typo.body2">Treino voltado em organizar os exercícios em três sessões distintas, e com grupamentos musculares distintos a cada dia.</MudText>
                </MudCardContent>
        </MudCard>

        <MudCard Elevation="11" Style="width: 280px;" Class="rounded-xl trasition-fast-out-slow-in scale-hover">
            <MudCardMedia Image="img/H.ABCD.png" Height="150" />
            <MudCardContent>
                <MudButton Class="transition-fast-out-slow-in scale-hover" Style="background-color:coral; width: 100%;font-weight: 800">A/B/C/D</MudButton>
                <MudText Class="mt-1" Align="Align.Center" Typo="Typo.body2">Focado em 1 ou 2 grupos musculares por dia, indicado para avançados, pois permite mais volume e intensidade por músculo trabalhado .</MudText>
            </MudCardContent>
        </MudCard>

        <MudCard Elevation="11" Style="width: 280px;" Class="rounded-xl transition-fast-out-slow-in scale-hover">
            <MudCardMedia Image="img/H.Alimentacao.png" Height="150" />
            <MudCardContent>
                <MudButton Class="transition-fast-out-slow-in scale-hover" Style="background-color:coral; width: 100%;font-weight: 800">ALIMENTAÇÂO</MudButton>
                <MudText Class="mt-1" Align="Align.Center" Typo="Typo.body2">Não adianta focar em treinar,<br /> se você não se atentar na alimentação correta.</MudText>
            </MudCardContent>
        </MudCard>

    </div>
    <MudGrid Class="mt-3" Justify="Justify.Center" AlignItems="AlignItems.Center">
        <MudButton  Href="MonteTreino" Class=" ms-6 mt-2 rounded-xl transition-fast-out-slow-in scale-hover" Style="background-color:coral; font-weight:700; width:clamp(300px,50%,500px)"> VENHA CONHECER NOSSOS TREINOS!</MudButton>
    </MudGrid>
</MudContainer>